<!-- ============ Set Title and Description for page -->
  <% content_for :title do %>
    <%= "News Article" %>
  <% end %>
  <% content_for :description do %>
    <%= @src  %>
  <% end %>
<!-- ============================================== -->


<div class="row section clearfix">
	<div class="col-md-6">
		<iframe src="<%= @src %>" width="100%" height="500px"> </iframe>
		<h3>If content is not loading in above frame please referesh Or </h3>
		<a href="<%= @src %>" target="_blank">click here </a><br/><br/>

			<div class="block">
				<div class="image-box center">
					<!-- News Article Below -->
					<ins class="adsbygoogle"
							 style="display:inline-block;width:300px;height:600px"
							 data-ad-client="ca-pub-8007076293299638"
							 data-ad-slot="5531473685"></ins>
					<script> (adsbygoogle = window.adsbygoogle || []).push({}); </script>
				</div>
			</div>

	</div>

	<aside class="col-md-5 col-md-offset-1">
    <div class="sidebar">
			<div class="block clearfix">
				<div class="image-box pull-right">
					<style>
						.example_responsive_1 { width: 160px; height: 500px; }
						@media(min-width: 500px) { .example_responsive_1 { width: 234px; height: 500px; } }
						@media(min-width: 800px) { .example_responsive_1 { width: 414px; height: 550px; } }
					</style>
					<!-- NewsArticle -->
					<ins class="adsbygoogle example_responsive_1"
							 style="display:block"
							 data-ad-client="ca-pub-8007076293299638"
							 data-ad-slot="7158581820"
							 data-ad-format="auto">
					</ins>
					<script> (adsbygoogle = window.adsbygoogle || []).push({}); </script>
				</div>
			</div>

			<% @related_news.first(5).each do |news| %>
				<%= link_to news_article_path(:src => news['Link'], :channel=> @main_news['channel'], :news_type => @main_news['news_type'], :news_date => @main_news['news_date'], :medium => @main_news['medium']) do %>
					<div class="block clearfix">
						<div class="image-box pull-right" style="width: 300px;">
							<img src="<%= news['ImgLink']%>" width="300px" />
							<div class="image-box-body">
								<h3 class="title"><%= news['Title']%></h3>
							</div>
						</div>
					</div>
				<% end %>
			<% end %>
		</div>
	</aside>

</div>

<script>
  $(document).ready(function(){
		ga('send', 'pageview', location.href);
  });
</script>
