
<%= simple_form_for(@blog) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :category %>
    <%= f.input :title %>
    <%= f.input :desc %>
		<%= f.input :avatar, as: :file, wrapper: :without_control %>
	</div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>


<script>
	// Replace the <textarea id="editor1"> with a CKEditor
	// instance, using default configuration.
	$(document).on('ready turbolinks:load', function () {
		$.getScript('//cdn.ckeditor.com/4.4.6/full/ckeditor.js', function(){
			CKEDITOR.replace( 'blog_desc' );
		});
	});
</script>
